@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
.main-app{
  font-family: 'Hammersmith One', sans-serif;
  background-image: linear-gradient(100deg, rgb(255, 255, 255), rgb(239, 214, 247));
}
.background-image{
  background: url("./images/gif.gif")
}
.text-decoration:link{
  text-decoration: none;
}

.text-decoration:hover{
  text-decoration: underline;
  color: rgb(54, 88, 222);
}
.text-decoration:active{
  text-decoration: underline;
  color: rgb(54, 88, 222);
  border: .05px solid rgb(208, 224, 234);
  padding: 5%;
  border-radius: 10% 10%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
